html {
font-size: 22px;
color: whitesmoke; background: rgb(233, 65, 25); /*url('../../stock-photo.jpg')*/
}

/*body*/
body{
  font-family: "comic sans ms", verdana, geneva;
  font-weight: 100;
  font-size: 23px;
} 
.header {
  height: 35vh;
}
.newtitle{
  font-family: "geneva";
}
.tall{
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}
/*h1 {
  font-family: 'comic sans ms' !important;*/
}